
body.mmm
{
	background-color: gray;
}

body.information
{
	background-color: white;
	color: #808000;
	text-align: center;
}

div.container
{
	white-space: nowrap;
	width:882px;
}

div.navigation
{
	width:111px;
	text-align:center;
	float:left;
	padding-top: 20px;
}

div.navigationbuttoncollection
{
	white-space: normal;
}

button.navigation
{
	display: block;
	margin: 5px 7px 5px 4px;
  background-color: white;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-top-width: 0px;
	border-top-style: none;
	moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-appearance: button;
	width: 100px;
}

button.disabled, button.disabled:hover {
    background: #dddddd;
		cursor: default;
}

button:hover {
    cursor: pointer;
}

button.highlighted
{
	background-color: yellow;
}

div.content
{
	width:660px;
}

div.information
{
	margin-left: 111px;
	text-align: left;
}

p
{
	color: #808000;
}

p.signature
{
    text-indent: 2.5em;
}

ul
{
	list-style-type: none;
	display: list-item;
	-webkit-padding-start: 2em;
}

ul > li:before
{
	content: "-";
	margin-left: -1.1em;
	padding: 0em .25em 0em .25em;
}

ol
{
	list-style-type: none;
	-webkit-padding-start: 2em;
}

ol li
{
	list-style-type:lower-alpha;
}

h2.supportheader
{
	text-align: center;
}
