
body.mmm
{
	background-color: gray;
}

body.information
{
	background-color: white;
	color: #808000;
	text-align: center;
}

div.container
{
	white-space: nowrap;
	width:55.125em;
}

div.navigation
{
	width:6.9375em;
	text-align:center;
	float:left;
	padding-top: 1.25em;
	position: relative;
}

div.navigationbuttoncollection
{
	white-space: normal;
}

button.navigation
{
	display: block;
	margin: 0.3125em 0.4375em 0.3125em 0.25em;
  background-color: white;
	border-style: none;
	moz-border-radius: 0.3125em;
	-webkit-border-radius: 0.3125em;
	-webkit-appearance: button;
	width: 7.625em;
}

button.disabled, button.disabled:hover {
    background: #dddddd;
		cursor: default;
}

button:hover {
    cursor: pointer;
}

button.highlighted
{
	background-color: yellow;
}

div.content
{
	width:41.25em;
}

div.information
{
	margin-left: 6.9375em;
	text-align: left;
}

span.dash
{
	color: #8B008B;
}

p.signature
{
    text-indent: 2.5em;
}

ul
{
	list-style-type: none;
	display: list-item;
	-webkit-padding-start: 2em;
}

ul > li:before
{
	content: "-";
	margin-left: -1.1em;
	padding: 0em .25em 0em .25em;
}

ol
{
	list-style-type: none;
	-webkit-padding-start: 2em;
}

ol li
{
	list-style-type:lower-alpha;
}

h2.supportheader
{
	text-align: center;
}
